.footer__column_content_copyright {
<<<<<<< HEAD
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
=======
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
