.logo_place_header {
<<<<<<< HEAD
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 3;
  }
=======
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
