.resources__link {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 38px;
  filter: opacity(100%);
  transition: filter 0.15s linear;
}

.resources__link:hover {
  filter: opacity(70%);
}
