.footer__column-link {
<<<<<<< HEAD
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }
=======
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  filter: opacity(100%);
  transition: filter 0.15s linear;
}

.footer__column-link:hover {
  filter: opacity(70%);
}

>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
