.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  transition: -webkit-filter 0.15s linear;
  transition: filter 0.15s linear;
  transition: filter 0.15s linear, -webkit-filter 0.15s linear;
}

.footer__column-link:hover {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}
