.feynman__title {
<<<<<<< HEAD
    width: 648px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
  }
=======
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
