.section-subtitle {
<<<<<<< HEAD
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
=======
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
