.two-columns__span-accent {
<<<<<<< HEAD
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
    color: black;
  }
=======
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  color: black;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
