.header__link {
  text-decoration: none;
  color: var(--elements-color);
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  transition: -webkit-filter 0.15s linear;
  transition: filter 0.15s linear;
  transition: filter 0.15s linear, -webkit-filter 0.15s linear;
}

.header__link:hover {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}
