.two-columns__main-text {
<<<<<<< HEAD
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: black;
  }
=======
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: black;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
