.oakley {
  background-color: var(--background-color_white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 160px;
  position: relative;
  top: -60px;
  z-index: -1;
}