.two-columns {
<<<<<<< HEAD
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
=======
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
