.footer__column-heading {
<<<<<<< HEAD
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
=======
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
  