.footer__column-links {
<<<<<<< HEAD
    list-style: none;
    margin: 20px 0 16px 0;
    padding: 0;
  }
=======
  list-style: none;
  margin: 20px 0 16px 0;
  padding: 0;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
