:root {
  --background-color_white: #f2f2f2;
  --background-color_dark: #1f1f1f;
  --elements-color: #2f80ed;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: var(--background-color_white);
  z-index: 0;
  color: black;
  display: flex;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  width: 730px;
  align-self: center;
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  position: absolute;
  left: 64px;
  z-index: 3;
}

.header__subtitle {
  width: 380px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: var(--elements-color);
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--elements-color);
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  width: 80%;
  display: flex;
  margin: 100px auto 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: var(--elements-color);
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: black;
}

.two-columns__paragraph {
  margin: 0 auto 30px auto;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}


.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
  min-height: 890px;
  background-color: var(--background-color_white);
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--elements-color);
  text-decoration: none;
}

.kaufman {
  background-color: var(--background-color_dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.section-title_theme_dark {
  width: 60%;
  color: white;
  margin: 90px 0 0 0;
}

.section-subtitle_theme_dark {
  width: 60%;
  color: white;
  margin-top: 20px;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}

.footer {
  background-color: var(--background-color_dark);
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px 0 40px 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  margin: 20px 0 16px 0;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}