.table__text {
<<<<<<< HEAD
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0 0;
  }
=======
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}
>>>>>>> 422615629a8d26c4aefd36d26c4edc9e37b86d91
