.khan__buy-link {
  color: var(--elements-color);
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  transition: -webkit-filter 0.15s linear;
  transition: filter 0.15s linear;
  transition: filter 0.15s linear, -webkit-filter 0.15s linear;
}

.khan__buy-link:hover {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}
