.khan__buy-link {
    color: var(--elements-color);
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.15s linear;
}

.khan__buy-link:hover {
    opacity: 0.7;
}